{% extends 'base.html.twig' %}

{% block title %}Cubículos disponibles{% endblock %}

{% block headerTitle %}Cubículos disponibles{% endblock %}

{% block content %}
    <div>hola mundo</div>
{% endblock %}