{% extends 'base.html.twig' %}

{% block title %}Reservaciones aprobadas{% endblock %}

{% block headerTitle %}Reservaciones aprobadas{% endblock %}

{% block content %}
    <div>hola mundo</div>
{% endblock %}